@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #0056D2;       /* Biru Utama (Trust) */
  --color-primary-dark: #003F9A;  /* Biru Gelap (Hover/Text) */
  --color-accent: #00C2CB;        /* Cyan (Oxygen/Cleanliness) */
  --color-text-main: #1E293B;     /* Slate Dark (Readability) */
  --color-text-light: #64748B;    /* Slate Gray */
  --color-bg-light: #F1F5F9;      /* Background Section */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
